body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.active {
  color:crimson;
  text-decoration: none;
  margin-left: 5px ;
  margin-right: 5px;
  font-size: 18px;  
}

.selector {
  width: 360px;
  height: 50px;
  text-align: center;
  border-radius: 3%;
}

.button {
  width: 120px;
}

.card_interior {
  display: flex;
}

.box2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
}